// fonts
$enFont: "Ubuntu", sans-serif;
$arFont: "Cairo", sans-serif;

// colors
$bgColor: var(--bgColor);
$textColor: var(--textColor);
$borderColor: var(--borderColor);
$mainColor: var(--mainColor);
$bgSoftColor: var(--bgSoftColor);
$textOrange: var(--textOrange);
$textLight: var(--textLight);
$hoverColor: var(--hoverColor);
