// fonts
$enFont: "Roboto", sans-serif;
$arFont: "Cairo", sans-serif;

// colors
$bgColor: var(--bgColor);
$textColor: var(--textColor);
$borderColor: var(--borderColor);
$mainColor: var(--mainColor);
$bgSoftColor: var(--bgSoftColor);
$textOrange: var(--textOrange);
$textLight: var(--textLight);
$hoverColor: var(--hoverColor);
$greyText: var(--greyText);

// border radius
$radiusSm: var(--radiusSm);
$radiusMd: var(--radiusMd);
$radiusLg: var(--radiusLg);
$radiusFull: var(--radiusFull);

// padding
$paddingSm: var(--paddingSm);
$paddingMd: var(--paddingMd);
$paddingLg: var(--paddingLg);  
$paddingXl: var(--paddingXl);  

// margin
$marginSm: var(--marginSm);
$marginMd: var(--marginMd);
$marginLg: var(--marginLg);
