@import "partials/breakPoints";
@import "partials/fonts";
@import "partials/inheritance";
@import "partials/mixins";
@import "partials/overwrite";
@import "partials/pseudo";
@import "partials/variables";

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // colors
    --bgColor: #ffffff;
    --bgSoftColor: #f4f6fa;
    --textColor: #000000;
    --textLight: #ffffff;
    --mainColor: #2453d4;
    --borderColor: #eaeaea;
    --textOrange: #f26300;
    --hoverColor: #2438d6;
    --toggleBg: #000000;
    --greyText: #6D758D;

    // border radius
    --radiusSm: 8px;
    --radiusMd: 12px;
    --radiusLg: 16px;
    --radiusFull: "100%";

    // padding
    --paddingSm: 8px;
    --paddingMd: 12px;
    --paddingLg: 16px;
    --paddingXl: 20px;

    // margin
    --marginSm: 8px;
    --marginMd: 12px;
    --marginLg: 16px;
}

[data-theme="dark"] {
    --bgColor: #1C1C1C;
    --bgSoftColor: #2f2f2f;
    --textColor: #ffffff;
    --textLight: #000000;
    --toggleBg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    transition: background 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    color: var(--textColor);
    background-color: var(--bgColor);
    overflow-x: hidden;
}

button {
    outline: none;
    border: none;
    background: transparent;
    color: $textColor;
    padding: 0px;
    width: fit-content;
    &:focus,
    &:active,
    &:hover {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

input {
    outline: none;
    border: none;
    &:focus,
    &:active,
    &:hover {
        outline: none;
        border: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
    &:hover,
    &:link,
    &:visited,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit;
        outline: none;
    }
}
